section#aircraft__inventory_view {
	padding: (2 * $vr) 0;
	display: none;
}

div.aircraft__type {
	text-align: center;
	h3 {
		@include typeset(h1);
		border: 2px solid $secondary;
		text-transform: uppercase;
	}
}

div.aircraft__card {
	padding: $vr;
	border: 2px solid $grey;
	text-align: center;
	
	span.card__tag {
		@include typeset(h2__lite);
		padding: .5 * $vr;
		border: 1px solid $secondary;
		display: inline-block;
	}
	
	div.card__price {
		@include typeset(h2__lite);
		padding-top: 1.5 * $vr;
		color: $secondary;
		display: inline-block;
	}
	
	div.card__desc {
		p {
			@include typeset(small);
		}
	}
}