/***
 * Global Footer
 *
 * @default Normal Version
 * @modifier .blue - make this bitch blue
 * @modifier .red - make 'er red
 *
 * html:
 *	<footer>Some cool stuff</footer>
 */
footer {
	border-top: 5px solid $secondary;
	padding-top: 2 * $vr;
	padding-bottom: $vr;
	background: url('../images/pattern.png');
	width: 100%;
	.container {
		padding-bottom: $vr;
	}
	div.footer__collection {
		text-align: left;
		display: table;
		@include mq($mq-small) {
			width: 200px;
		}
		h4 {
			display: inline-block;
			height: 100%;
			color: $secondary;
			padding-bottom: .5 * $vr;
			border-bottom: 1px solid $secondary;
			margin-bottom: $vr;
			margin-top: 0;
		}
		p {
			color: white;
			@include typeset(small);
			font-weight: 100;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			li {
				a {
					color: white;
					text-decoration: none;
					@include typeset(small);
				}
			}
		}
	}
	p {
		color: white;
		@include typeset(small);

	}
	
	&.blue {
		background: $blue;
	}
	&.red {
		background: $red;
	}
}