#hero__header {
	position: relative;
	min-height: 650px;
	#hero__bg {
		background: url('../images/hero__bg.jpg');
		background-size: cover;
		height: 100%;
		width: 100%;
		position: absolute;
	}
	header {
		position: absolute;
		width: 100%;
		padding-top: 2 * $vr;;
		div#hero__logo {
			display: table;
			margin: 0 auto;
			text-align: center;
			z-index: 99999;
			@include breakpoint(small only) {
				margin-left: 2 * $vr;
				display: inline-block;
			}
			img {
				display: inline;
				text-align: center;
			}
		}
		div.hero__hamburger {
			float: right;
			margin-right: 2 * $vr;
		}
	}
	nav#hero__nav {
		background: $black;
		width: 100%;
		padding: $vr;
		position: absolute;
		bottom: 0;
		@include mq($mq-small) {
			padding: $vr 0;
			border-top: 2px solid $black;
			display: none;
		}
		ul {
			list-style-type: none;
			padding: 0;
			display: table;
			margin: 0 auto;
			max-width: 600px;
			li {
				padding: .5 * $vr;
				display: inline-block;
				text-align: center;
				@include mq($mq-small) {
					padding: 0;
					display: none;
				}
				a {
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: $secondary;
					}
				}
			}
		}
	}
}