section#hero__inner {
	background-size: cover;
	div.inner__header {
		padding: 3 * $vr;
		text-align: center;
		h1 {
			color: white;
			display: inline-block;
			text-transform: uppercase;
			@include typeset(h1);
			font-family: $lite;
			margin-bottom: 0 !important;
			font-weight: 100 !important;
		}
	}
}