.offcanvas__menu {
	display: table;
	margin: (4 * $vr) auto (2 * $vr);
	list-style-type: none;
	li {
		text-align: right;
		a {
			margin-bottom: 2 * $vr;
			display: block;
			color: white;
			text-transform: uppercase;
			font-size: $p;
			&:hover {
				color: $secondary;
			}
		}
	}
}

.offcanvas__menu_social {
	display: table;
	margin: 0 auto;
	list-style-type: none; 
	text-align: right;
	li {
		display: inline-block;
		padding: .5 * $vr;
		img {
			width: 2.5 * $vr;
		}
	}
}