$columncount: 12;
.col {
	float: left;
	@include mq($mq-small) {
		float: none;
		&.span_* {
			width: 100%;
		}
	}
}
@for $i from 1 through $columncount {
	.col.span_#{$i} {
		width: percentage((($container/($columncount/$i))/$container));
	}
}