$container: 960px;

$regular: 'Raleway', sans-serif;
$lite: 'Raleway-light', sans-serif;

$black: #020202;
$grey: #dbdbdb;
$secondary: #e79d25;
$main: #21409a;
$blue-light: #48b7e5;
$text-dark: #35363b;

$first-breakpoint: 980px;
$second-breakpoint: 667px;
$mq-medium: 'only screen and (max-width:' + ($first-breakpoint) + ')';
$mq-small: 'only screen and (max-width:' + ($second-breakpoint) + ')';

$h1: 2.2rem;
$h2: 1.4rem;
$h3: 1.1rem;
$h4: 1.0rem;
$p: 1.0rem;
$small: .8rem;
$vr: 1.1rem;

$typesets: (
	h1: (
		font-size: $h1,
		line-height: 3 * $vr,
		font-weight: bold,
		margin-top: 0,
		margin-bottom: 2 * $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $regular
	),
	h1__lite: (
		font-size: $h1,
		line-height: 3 * $vr,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: 2 * $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $lite
	),
	h2: (
		font-size: $h2,
		line-height: 1.5 * $vr,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $regular
	),
	h2__lite: (
		font-size: $h2,
		line-height: 1.5 * $vr,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: 1.5 * $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $lite
	),
	h3: (
		font-size: $h3,
		line-height: 2.5 * $vr,
		font-weight: bold,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $regular
	),
	h4: (
		font-size: $h4,
		line-height: 2 * $vr,
		font-weight: bold,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $regular
	),
	p: (
		font-size: $p,
		line-height: 2 * $vr,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $regular
	),
	small: (
		font-size: $small,
		line-height: 1.5 * $vr,
		font-weight: 100,
		margin-top: 0,
		margin-bottom: $vr,
		margin-left: 0,
		margin-right: 0,
		font-family: $lite
	)	
);

@mixin typeset($type) {
	$type: map-get($typesets, $type);
	font-size: map-get($type,font-size);
	line-height: map-get($type, line-height);
	margin-top: map-get($type, margin-top);
	margin-bottom: map-get($type, margin-bottom);
	margin-left: map-get($type, margin-left);
	margin-right: map-get($type, margin-right);
	font-family: map-get($type, font-family);
	@if map-has-key($type, font-weight) {
		font-weight: map-get($type, font-weight);
	}
}


@mixin mq($query) {
	@media #{unquote($query)} {
		@content
	}
}