a {
	transition: all ease .4s;
	cursor: pointer;
	&:hover {
		transition: all ease .4s;
	}
}

.h1 {
	@include typeset(h1);
}

.h2 {
	@include typeset(h2);
}

.h3 {
	@include typeset(h3);
}

.h4 {
	@include typeset(h4);
}

.p {
	@include typeset(p);
}

.small {
	@include typeset(small);
}