.footer {
	 border-top: 10px solid $secondary;
	 background: url('../images/pattern.png');
	 width: 100%;
 }
 
 .footer__collection {
	text-align: left;
	display: table;
	@include breakpoint(small only) {
		padding-bottom: 2 * $vr;
		display: table;
		margin: 0 auto;
		text-align: center;
	}
 }
 
 .footer__header {
	display: inline-block;
	height: 100%;
	color: $secondary;
	border-bottom: 1px solid $secondary;
	margin-top: 0;
	@include mTypeset(h3-button);
	font-weight: bold;
	margin-bottom: $vr;
	padding-bottom: .25 * $vr;
	padding-right: 1.5 * $vr;
	text-align: center;
	@include breakpoint(small only) {
		padding-right: .5 * $vr;
		padding-left: .5 * $vr;
	}
 }
 
 .footer__paragraph {
 	color: white;
	@include mTypeset(small-button);
	font-weight: 100;
	span {
		display: block;
	}
 }
 
 
 .footer__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		@include mTypeset(small-button);
		a {
			color: white;
			text-decoration: none;
			@include mTypeset(small-button);
		}
	}
 }
 
 .footer__paragraph span {
	 margin-bottom: .6rem !important;
 }
 
 .footer__list li {
	 margin-bottom: 1.2rem !important;
	 @include breakpoint(small only) {
		margin-bottom: .5 * $vr !important;
	}
 }