.video {
    width: 95%;
    margin: 0px auto;
    .video__container {
	    height: 0;
	    width: 100%;
	    padding-bottom: 56.25%;
	    overflow: hidden;
	    position: relative;
    }
}

.video {
    width: 100%;
    margin: 0px auto;
}

.video__container {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
			
.video__container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
